<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ("partials/head") %>
</head>
<body class="container">
    <%- include ("partials/header") %>

    <% if(entries.lenght) { %>
        <% entries.forEach(function(entry){ %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <%= entry.title %>
                    <div class="pull-right">
                        <%= entry.published %>
                    </div>
                </div>
                <div class="panel-body">
                    <%= entry.content %>
                </div>
            </div>
        <% }) %>
    <% }else { %>
        <% No existen entradas %>
    <% } %>

</body>
</html>